html,
body {
    margin: 0;
    font-size: 16px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrapper {
    max-width: 1024px;
    padding: 5px 30px;
    margin: 0 auto;
}

iframe {
    width: 100%;
    border: none;
    height: 400px;
}

.relation {
    position: relative;
}

.relation_ration {
    padding-top: 56.25%;
    height: 0;
}

.relation_content {
    background: red;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}